/*css document by mac*/
html{overflow-x:hidden}

body{margin:0;padding:0; height:auto;clear:both;width:100%; overflow-x:hidden}
img{border:0}
a{text-decoration:none;color:#000}
a:hover{text-decoration:none;color:#abd3e8}
li{list-style:none}
ul{list-style:none}
*{font-size:12px}
select{width:100px}


/*top*/
.top{clear:both;width:100%; background:url(../images//top_2.jpg) repeat-x;height:93px;overflow:hidden}
.top .logo{float:left;background:url(../images//top_1.JPG) no-repeat;width:710px;height:93px;overflow:hidden}
.top .login_info{float:right;background:url(../images//top_3.jpg) no-repeat right;height:93px;overflow:hidden}
.top .login_info table{margin-top:70px;}
.top .login_info .text_red{font-weight:bold;color:#2a9dd5}

/*table*/
#table_info {width:99%; text-align:center;border:1px solid #abd3e8; border-width:0 0 1px 1px; text-align:center}
#table_info th {background:#aad6f2;}
#table_info th,#table_info td {height:20px; border:1px solid #abd3e8; border-width:1px 1px 0 0;}



/* menutop */	
.menutop { padding:0; margin:0; width:1000px; float:center; height:90px; background:url(../images//login-logo.gif);}
.menutop ul { padding:0; margin:0; list-style:none; border:0; float:right;}
.menutop ul li { float:left; margin:0; padding:0 3px; border:0;}
.menutop ul li a { float:left; margin:0 1px 0 0; padding:72px 0; color:#ffffff; font-size:13px; text-decoration:none;}
.menutop ul li a span { padding:10px 8px; background:none;}
.menutop ul li a:hover span {color:#b4f3fb;}
.menutop ul li a.active {color:#ffffff}
.menutop ul li p.clr { clear:both; padding:0; margin:0; background:none;}

/*2列式布局*/
.left_system{width:160px;float:left;background:#fff;border:1px solid #c5c5c5;margin-right:2px;overflow:auto;margin-left:3px;padding:1px;margin-top:0px}
.right_system{width:auto;float:left;background:#fff;border:1px solid #c5c5c5;margin-right:6px;overflow:hidden;margin-top:6px}
.system_margin{clear:both;width:auto;overflow:hidden;margin:6px;background:#fff}




/*默认首屏背景*/
.background_photos{width:827px;height:301px;clear:both;margin:5% auto;background:url(../images//default_bgimg.jpg) no-repeat;}


/*menu*/
.menu{width:125px;clear:both;overflow:hidden}
.menu ul{margin:0;padding:0}
.menu li{float:none;list-style:none;height:51px;width:125px;}
.menu li.blankmenu{background:none;width:125px;height:51px;}
.menu li.menu1 a{cursor:hand;background:url(../images//menu.jpg) no-repeat;width:125px;height:51px;display:block;}
.menu li.menu2 a{cursor:hand;background:url(../images//menu.jpg) no-repeat 0 -51px;width:125px;height:51px;display:block}
.menu li.menu3 a{cursor:hand;background:url(../images//menu.jpg) no-repeat 0 -102px;width:125px;height:51px;display:block}
.menu li.menu4 a{cursor:hand;background:url(../images//menu.jpg) no-repeat 0 -153px;width:125px;height:51px;display:block}
.menu li.menu5 a{cursor:hand;background:url(../images//menu.jpg) no-repeat 0 -204px;width:125px;height:51px;display:block}
.menu li.menu6 a{cursor:hand;background:url(../images//menu.jpg) no-repeat 0 -255px;width:125px;height:51px;display:block}
.menu li.menu7 a{cursor:hand;background:url(../images//menu.jpg) no-repeat 0 -306px;width:125px;height:51px;display:block}
.menu li.menu8 a{cursor:hand;background:url(../images//menu.jpg) no-repeat 0 -357px;width:125px;height:51px;display:block}

.menu li.menu1 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px 0;width:125px;height:51px;}
.menu li.menu2 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px -51px;width:125px;height:51px;}
.menu li.menu3 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px -102px;width:125px;height:51px;}
.menu li.menu4 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px -153px;width:125px;height:51px;}
.menu li.menu5 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px -204px;width:125px;height:51px;}
.menu li.menu6 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px -255px;width:125px;height:51px;}
.menu li.menu7 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px -306px;width:125px;height:51px;}
.menu li.menu8 a:hover{cursor:hand;background:url(../images//menu.jpg) no-repeat -125px -357px;width:125px;height:51px;}




/*sidebar*/
.sidebar{clear:both;background: url(../images//sidebar_bg.gif) repeat-y;width:7px;overflow:hidden;height:100%}
.sidebar table{height:100%}

/*bottom*/
.bottom{background:url(../images//bottom.gif) repeat-x;width:100%;overflow:hidden;clear:both;height:33px;color:#000;text-align:right;padding:12px 0 0 0}

/*分行公告*/
.bottom-1{background:url(../images//content_title_bg.jpg) repeat-x 0 4px;width:98%;overflow:hidden;clear:both;height:25px;color:#884343;text-align:right;padding:12px 0 0 0; vertical-align:middle;margin:10px 8px 15px 10px}

/*content1*/
.content1{width:95%;background:url(../images//content_bg.jpg) repeat-x bottom #fff;border:1px solid #c9d9de}
.content1 .content_title{clear:both;background:url(../images//content_title_bg.jpg) repeat-x;height:25px;margin-top:-1px;}
.content1 .content_title .name{font-weight:bold;font-size:13px;color:#3763aa;text-indent:13px;padding-top:5px;float:left;width:100%;background:url(../images//content_title_name_bg.jpg) no-repeat;height:25px;}
.content1 .list{width:auto;}
.content1 td{height:24px}
.content1 .date{text-align:right;}

/*content2*/
.content2{background:url(../images//content_bg.jpg) repeat-x bottom #fff;border:1px solid #c9d9de;overflow-x:hidden}
.content2 .content_title{clear:both;background:url(../images//content_title_bg.jpg) repeat-x;height:25px;margin-top:-1px;}
.content2 .content_title .name{font-weight:bold;font-size:13px;color:#3763aa;text-indent:13px;padding-top:5px;float:left;width:100%;background:url(../images//content_title_name_bg.jpg) no-repeat;height:25px;}
.content2 .list{width:auto;}
.content2 td{height:24px}
.content2 .date{text-align:right}

/*content3*/
.content3{width:95%; height:100%;background:url(../images//content_bg.jpg) repeat-x bottom #fff;border:1px solid #c9d9de;}
.content3 .content_title{clear:both;background:url(../images//content_title_bg.jpg) repeat-x;height:25px;margin-top:-1px;}
.content3 .content_title .name{font-weight:bold;font-size:13px;color:#3763aa;text-indent:13px;padding-top:5px;float:left;width:100%;background:url(../images//content_title_name_bg.jpg) no-repeat;height:25px;}
.content3 .list{width:auto;}
.content3 td{height:24px}
.content3 .date{text-align:right}

/*content4*/
.content4{background:url(../images//content_bg.jpg) repeat-x bottom #fff; height:100%;border:1px solid #c9d9de;}
.content4 .content_title{clear:both;background:url(../images//content_title_bg.jpg) repeat-x;height:25px;margin-top:-1px;}
.content4 .content_title .name{font-weight:bold;font-size:13px;color:#3763aa;text-indent:13px;padding-top:5px;float:left;width:100%;background:url(../images//content_title_name_bg.jpg) no-repeat;height:25px;}
.content4 .list{width:auto;}
.content4 td{height:24px}
.content4 .date{text-align:right}

/*direction mode*/
.mode_help{clear:both;margin:6px 0;text-align:center;width:auto}


/*tab*/
.tab{clear:both;width:100%;background:url(../images//tab.jpg) repeat-x;height:36px;overflow:hidden}
.tab ul.tab_sub{margin:0; padding:0;}
.tab ul.tab_sub li{font-size:14px;line-height:36px;background:url(../images//tab.jpg) 0 0;color:#000; width:104px; height:36px;text-align:center;display:block;cursor:hand;float:left ;font-weight:bold;}
.tab ul.tab_sub li a{color:#000; font-weight:bold; font-weight:bold;}
.tab ul.tab_sub .active{background:url(../images//tab.jpg) 0 -36px;color:#387bbc;width:104px; height:36px; font-weight:bold;}
.tab2{clear:both;width:100%;background:url(../images//tab2.jpg) repeat-x 0 -35px;height:35px;overflow:hidden;margin-top:-1px}
.tab2 ul.tab_sub2{margin:0; padding:0;}
.tab2 ul.tab_sub2 li{font-size:13px;line-height:36px;background:url(../images//tab2.jpg) 0 -35px repeat-x;color:#fff; width:89px; height:35px;text-align:center;display:block;cursor:hand;float:left ;}
.tab2 ul.tab_sub2 li a{color:#fff;}
.tab2 ul.tab_sub2 .aa{color:#315a98;}
.tab2 ul.tab_sub2 li a:hover{color:#315a98; font-weight:bold}
.tab2 ul.tab_sub2 .active{background:url(../images//tab2.jpg) no-repeat;color:#315a98;width:89px; height:35px; font-weight:bold;}

.tab_2level{clear:both;width:100%;background:url(../images//tab_2level.jpg) repeat-x;height:27px;overflow:hidden;border-bottom:1px solid #EFEFEF}
.tab_2level ul{padding:0;}
.tab_2level li{line-height:15px;float:left;margin-right:4px;}
.tab_2level li a{display:block;text-align:center;width:94px;height:27px}
.tab_2level li a:hover{display:block;font-weight:bold;text-align:center;width:94px;height:27px;background:url(../images//tab_2level_over.jpg) no-repeat;color:#315a98}
.tab_2level li.long2 a{display:block;text-align:center;width:186px;height:27px}
.tab_2level li.long2 a:hover{display:block;font-weight:bold;text-align:center;width:186px;height:27px;background:url(../images//tab_2level_over_2.jpg) no-repeat;color:#315a98}
.tab_2level li.splitline{float:left;background:url(../images//tab_2level_splitline.jpg) no-repeat;height:28px;width:2px;margin:-1px 6px 0 6px}

/*location*/
.location{width:800px;;height:25px;overflow:hidden;clear:both;background:url(../images//content_title_bg.jpg) repeat-x;margin:0px 0}
.location .name{font-size:12px;color:#0053a7;text-indent:48px;padding-top:5px;float:left;width:100%;background:url(../images//location_title_bg.jpg) no-repeat;height:25px;overflow:hidden}


/*通用背景*/
.univer_model{margin:4px 0px 6px 0px;clear:both;padding:6px;background:url(../images//content_bg.jpg) repeat-x bottom #fff;border:1px solid #c5c5c5;overflow-x:hidden; width:785px;}



/*通用按钮*/
.btn_area{width:189px;overflow:hidden;clear:both;margin:0 auto}/*定义按钮区域，可分开来用*/
.btn_area4{width:400px;overflow:hidden;clear:both;margin:0 auto}/*定义按钮区域，可分开来用*/
.btn_area2{width:655px;overflow:hidden;clear:both;margin:0 auto}/*定义按钮区域，可分开来用*/
.btn_area3{width:1003px;overflow:hidden;clear:both;margin:0 auto}/*定义按钮区域，可分开来用*/

/*---------------标准-------------*/
a.univer_btn{float:left;overflow:hidden;text-align:center;color:#fff;line-height:26px;background: url(../images//btn_oprator.gif) no-repeat;width:87px;display:block;margin-right:6px;height:22px}
a.univer_btn:hover{float:left;margin-right:6px;overflow:hidden;background:url(../images//btn_oprator.gif) no-repeat 0 -22px;width:86px;display:block;height:22px;color:#fff;}

/*---------------加长-------------*/
a.univer_btn2{float:left;overflow:hidden;text-align:center;color:#fff;font-weight:bold;line-height:26px;background:url(../images//btn_oprator_2.gif) no-repeat;width:117px;display:block;margin-right:6px;height:22px}
a.univer_btn2:hover{float:left;margin-right:6px;overflow:hidden;background:url(../images//btn_oprator_2.gif) no-repeat 0 -22px;width:117px;display:block;height:22px;color:#fff;}

/*---------------特长-------------*/
a.univer_btn3{float:left;overflow:hidden;text-align:center;color:#fff;font-weight:bold;line-height:26px;background:url(../images//btn_oprator_3.gif) no-repeat;width:147px;display:block;margin-right:6px;height:22px}
a.univer_btn3:hover{float:left;margin-right:6px;overflow:hidden;background:url(../images//btn_oprator_3.gif) no-repeat 0 -22px;width:147px;display:block;height:22px;color:#fff;}


/*输出*/
.output table{width:100%;border-collapse:collapse;border:1px solid #c5c5c5}
.output table th{border:1px solid #c5c5c5;height:24px}
.output table td{border:1px solid #c5c5c5;height:24px}
.output table td{padding-left:4px;background:#fff;text-align:left;color:#000}
.output table td.setc{background:#fff;text-align:center;color:#000}
.output table td.setr{background:#fff;text-align:right;color:#000}
.output table td.setno{background:#fff;text-align:left;color:#999999;}
.output table td img{width:100%}
.output table td.btn{text-align:center;height:48px}
.output table th{text-align:center;font-weight:bold;color:#315a98;background:url(../images//th_bg.gif) repeat-x bottom #fff;height:24px}

/*输入*/
.input table{width:100%;border-collapse:collapse;border:1px solid #c5c5c5}
.input table th{border:1px solid #c5c5c5;height:24px}
.input table td{border:1px solid #c5c5c5;height:24px}
.input table td{padding-left:2px;background:#fff;text-align:left;color:#000;overflow:hidden}
.input table td.setc{background:#fff;text-align:center;color:#000}
.input table td.setr{background:#fff;text-align:right;color:#000}
.input table td.setno{background:#fff;text-align:left;color:#999999}
.input table td.btn{text-align:center;height:48px}
.input table td img{width:100%}
.input table th{text-align:right;font-weight:bold;color:#315a98;background:url(../images//th_bg.gif) repeat-x bottom #fff;height:24px;padding-right:4px}


/*向导模式页面*/
.tour{width:100%;margin:24px auto;overflow:hidden;clear:both;height:310px}
.tour .tour_img_1{float:left;margin-right:32px;padding:91px 0 0 3px;height:310px;}
.tour .tour_img_2{float:left;background:url(../images//tour_img_2.jpg) no-repeat;width:663px;height:309px;overflow:hidden}
.tour .tour_no1{width:212px;height:310px;float:left;overflow:hidden;padding:12px 7px 7px 7px}
.tour .tour_no1 ul{margin:0;padding:0}
.tour .tour_no1 ul li{padding-top:10px;cursor:hand;font-size:14px;font-weight:bold;float:none;text-align:center;height:43px}
.tour .tour_no1 ul li img{margin-right:6px;}
.tour .tour_no1 ul li a{float:none;font-size:14px;color:#7d4c34;font-weight:bold;display:block;width:100%;background:none;height:43px}
.tour .tour_no1 ul  .active{font-size:14px;background:url(../images//tour_mouseover.gif) no-repeat;color:#bf0101;width:100%;height:43px; font-weight:bold;}

/*登录框*/
.landing_box{width:100%; height:30px; margin:0 auto; clear:both; line-height:30px; vertical-align:middle; font:14px; color:#222222; font-weight:bold;text-align:left; padding-left:inherit;}

/*login*/
.login_top{clear:both;width:100%;background:url(../images//login_bg.gif) repeat-x ;height:90px;overflow:hidden; text-align:center;}
.login_bg{width:523px; background:url(../images//bgline.gif) repeat-x 0 25px; height:90px; overflow:hidden display: table-cell;vertical-align:middle;width:523px;height:90px; line-height:90px;text-align:center;display: block;font-size: 14px; font-weight:bold; color:#FFFFFF}
.login_bg .text{clear:both; width:523px; height:90px; line-height:90px; vertical-align:middle; display:table-cell; position:static; text-align:center; padding-left:inherit; font-size:14px; font-weight:bold; color:#FFFFFF}
.login_bg img{vertical-align:middle}
.login_top .area{width:1000px;height:90px;margin:0 auto}
.login_top .logo{float:left;width:334px;height:90px}
.mainimg{
	clear:both;
	margin:0 auto;
	background:url(../images//login-img.gif) no-repeat;
	width:1000px;
	height:128px;
	overflow:hidden;
	font: 14px;
	color: #FFFFFF;
}
.mainimg table{width:180px;margin:150px 0 0 56px}
.mainimg td{font-size:14px;font-weight:bold;color:#fff;height:24px;}
.mainimg td.btn{height:36px}
.mainimg input{border:0;height:18px}
.login_content{margin:0 auto;}
.login_content .subc{float:right;border:1px solid #abd3e8;overflow:hidden;height:820px;overflow:hidden; margin-top:0px;}
.login_content .subc .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc .title{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:28px;text-indent:18px;font-weight:bold;color:#000;font-size:14px;line-height:29px;overflow:hidden;}
.login_content .subc .titlebg{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:28px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:29px;overflow:hidden;}
.login_content .subc .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content1{margin:0 auto; float:left;}
.login_content1 .subc{float:left;border:1px solid #abd3e8;overflow:hidden;height:820px;overflow:hidden; margin-top:0px;}
.login_content1 .subc .subc_more{margin-left:140px;font-weight:normal;}
.login_content1 .subc .title{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:28px;text-indent:18px;font-weight:bold;color:#000;font-size:14px;line-height:29px;overflow:hidden;}
.login_content1 .subc .titlebg{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:28px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:29px;overflow:hidden;}
.login_content1 .subc .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc1{float:left;border:0px solid #abd3e8;overflow:hidden;height:238px;overflow:hidden;}
.login_content .subc1 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc1 .title{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:35px;text-indent:18px;font-weight:bold;color:#000;font-size:14px;line-height:36px;overflow:hidden;}
.login_content .subc1 .titlebg{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:35px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:36px;overflow:hidden;}
.login_content .subc1 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc2{float:left;border:1px solid #abd3e8;overflow:hidden;height:261px;overflow:hidden;}
.login_content .subc2 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc2 .title{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:35px;text-indent:18px;font-weight:bold;color:#000;font-size:14px;line-height:36px;overflow:hidden;}
.login_content .subc2 .titlebg{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:35px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:36px;overflow:hidden;}
.login_content .subc2 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc22{float:left;border:1px solid #abd3e8;overflow:hidden;height:136px;overflow:hidden;}
.login_content .subc22 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc22 .title{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:35px;text-indent:18px;font-weight:bold;color:#000;font-size:14px;line-height:36px;overflow:hidden;}
.login_content .subc22 .titlebg{float:left;background:url(../images/login_contentbg_1.gif) repeat-x;height:35px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:36px;overflow:hidden;}
.login_content .subc22 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc3{float:left;border:1px solid #abd3e8;overflow:hidden;height:238px;overflow:hidden;}
.login_content .subc3 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc3 .title{float:left;background:url(../images/login_contentbg.gif) repeat-x;height:29px;text-indent:18px;font-weight:bold;color:#ffffff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc3 .titlebg{float:left;background:url(../images/login_contentbg_2.gif) repeat-x;height:29px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc3 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc4{float:left;border:1px solid #abd3e8;overflow:hidden;height:220px;overflow:hidden;}
.login_content .subc4 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc4 .title{float:left;background:url(../images/login_contentbg.gif) repeat-x;height:29px;text-indent:18px;font-weight:bold;color:#ffffff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc4 .titlebg{float:left;background:url(../images/login_contentbg_2.gif) repeat-x;height:29px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc4 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc5{float:left;border:1px solid #abd3e8;overflow:hidden;height:338px;overflow:hidden;}
.login_content .subc5 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc5 .title{float:left;background:url(../images/login_contentbg.gif) repeat-x;height:29px;text-indent:18px;font-weight:bold;color:#ffffff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc5 .titlebg{float:left;background:url(../images/login_contentbg_2.gif) repeat-x;height:29px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc5 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc55{float:left;border:1px solid #abd3e8;overflow:hidden;height:215px;overflow:hidden;}
.login_content .subc55 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc55 .title{float:left;background:url(../images/login_contentbg.gif) repeat-x;height:29px;text-indent:18px;font-weight:bold;color:#ffffff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc55 .titlebg{float:left;background:url(../images/login_contentbg_2.gif) repeat-x;height:29px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc55 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_content .subc6{float:left;border:1px solid #abd3e8;overflow:hidden;overflow:hidden;}
.login_content .subc6 .subc_more{margin-left:140px;font-weight:normal;}
.login_content .subc6 .title{float:left;background:url(../images/login_contentbg.gif) repeat-x;height:29px;text-indent:18px;font-weight:bold;color:#ffffff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc6 .titlebg{float:left;background:url(../images/login_contentbg_2.gif) repeat-x;height:29px;width:text-indent:18px;font-weight:bold;color:#fff;font-size:14px;line-height:30px;overflow:hidden;}
.login_content .subc6 .subc_content{text-indent:24px;width:auto;padding:6px 6px 6px 6px;line-height:22px;text-align:justify; text-justify:inter-ideograph;overflow:hidden; margin:0 auto}
.login_bottom{width:1000px;clear:both;margin:0 auto;overflow:hidden;height:30px;overflow:hidden;background:#b9e4fb;color:#000;text-align:right;border:1px solid #abd3e8;line-height:28px}

/*线*/
.xian { BORDER-TOP: #333 1px dotted; MARGIN-TOP: 3px; FONT-SIZE: 0px; OVERFLOW: hidden; LINE-HEIGHT: 0; HEIGHT: 3px}
.bg {BACKGROUND: #f2f6fb}
/* ----------新按钮样式---------------- */
.buttonStyle{
	BORDER-RIGHT: #bfe1f2 1px solid; 
	PADDING-RIGHT: 1px; 
	BORDER-TOP: #bfe1f2 1px solid; 
	PADDING-LEFT: 1px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#bfe1f2); 
	BORDER-LEFT: #bfe1f2 1px solid; 
	CURSOR: hand; 
	COLOR: #003366; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #bfe1f2 1px solid;
	WIDTH: 100px;
	HEIGHT: 25px;
}
